<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogLevel="Trace"
		internalLogFile="${basedir}/Nlog/internalLog.txt">

		<extensions>
			<add assembly="NLog.Database"/>
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions>
		
		<variable name="conString" value ="Data Source=localhost;Database=JobHunting;"/>
	
		<targets
			async="true">
			<target
				filename="${basedir}/logs/${shortdate}/${logger}.txt"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}"
				name="mainLogFile"
				xsi:type="File">
			</target>
			<target
				xsi:type="Database"
				name="db"
				dbProvider="Microsoft.Data.SqlClient"
				connectionString="${conString}"
				commandText="INSERT INTO dbo.Logs(CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@datetime,@msg,@level,@exception,@trace,@logger,@url);">
				<parameter name="@datetime" layout="${date}" />
				<parameter name="@msg" layout="${message}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@exception" layout="${exception}" />
				<parameter name="@trace" layout="${stacktrace}" />
				<parameter name="@logger" layout="${logger}" />
				<parameter name="@url" layout="${aspnet-request-url}" />
			</target>
		</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="mainLogFile, db" />
	</rules>
</nlog>